<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Some cat image</title>
    </head>
    <body>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPA860LfKIM89S0NUnvy6NZGJBBiCv4uB0vjJCNvwtGUMqchK5hA&s" width="50%">
        <table>
            <tr>
                <td>Name</td>
                <td>Date</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>Eric</td>
                <td>2019/12/25</td>
                <td>Christmas</td>
            </tr>

        </table>
    </body>
</html>
