<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Size html</title>
        <link rel="stylesheet" href="size.css">
    </head>
    <body>
        <div>
            Hello World ! in div!
        </div>
        <table>

            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Taco</td>
                <td>2019-10-25</td>
                <td>hello date</td>
            </tr>
            <tr>
                <td>Eric</td>
                <td>2019-10-26</td>
                <td>hello next day</td>
            </tr>
        </table>
    </body>
</html>
